/*------------------------------------*\
  #RESET
\*------------------------------------*/

/* Custom Properties */
:root {
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
  --xlg: 2.4rem;

  --primary-color: #187D33;
  --secondary-color: #94C56C;
  --tertiary-color: #165643;
  --border: #AFAFAF;
  --primary-text: #474747;
  --secondary-text: #6B6B6B;
  --primary-background: #E8EFEE;
  --secondary-background: #FFFFFF;
  --tertiary--backgorund: #FAFAFA;

  --primary-font: 'Quicksand', sans-serif;
}

/* Reset de margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitar problemas con imágenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

/* Quitamos puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Cursor pointer en etiquetas a y button*/
a, button {
  cursor: pointer;
}

/* Evitando problemas por defecto de las principales etiquetas de texto */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* Configurar el texto que seleccionamos */
::selection {
  background-color: var(--primary-text);
  color: var(--secondary-background);
}

/* Nivelamos problemas de tipografías y formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

/* Reset de las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  display: block;
}

/* Configuramos la tipografía para toda la web */
body {
  position: relative;
  min-height: 100vh;
  font-family: var(--primary-font);
  font-size: var(--md);
  color: var(--secondary-text)
}





/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

.active {
  display: flex;
  visibility: visible;
}

.inactive {
  display: none;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.margin--right {
  margin-right: 1.2rem;
}

.margin--left {
  margin-left: 1.2rem;
}

.margin--top0_8 {
  margin-top: 0.8rem;
}

.margin--top1_8 {
  margin-top: 1.8rem;
}

.text--title {
  margin-bottom: 1.8rem;
  font-size: var(--lg);
  font-weight: bold;
  color: var(--primary-text);
}

.text--subtitle {
  font-weight: bold;
  color: var(--primary-text);
}

.main-text:hover {
  border-bottom: 0.15rem solid var(--primary-text);
  font-weight: 400;
  color: var(--primary-text);
  letter-spacing: 0.05rem;
}

.text--center {
  margin-bottom: 2rem;
  text-align: center;
}

.text--highlighted {
  color: var(--primary-color);
}

.text--highlighted:hover {
  border-bottom: 0.15rem solid var(--primary-color);
  font-weight: bold;
  letter-spacing: 0.05rem;
}





/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  height: auto;
  background-color: var(--primary-background);
  z-index: 10;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--border);
  padding: 0.25rem 1.2rem 0 1.2rem;
  height: auto;
}

.logo--large {
  height: 5rem;
}

.navbar-nav {
  height: 3rem;
}

.navbar-nav--left {
  display: flex;
  justify-content: flex-start;
  margin: auto 0;
  width: 65vw;
}

.navbar-nav--right {
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
  width: 35vw;
}

.icons {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;
  width: 100%;
  z-index: 12;
}

.icons--mobile {
  height: 6rem;
}

.icons--desktop {
  top: 0;
  height: 4rem;
}

.hambuguer-icon {
  display: grid;
  place-items: center;
  margin: auto 0;
  border-radius: 22.5rem;
  background-color: var(--primary-background);
}

.hambuguer-icon__line {
  position: absolute;
  border-radius: 0.4rem;
  width: 2.8rem;
  height: 0.4rem;
  background-color: var(--primary-text);
  transition: all .3s ease-in-out;
}

.hambuguer-icon:hover .hambuguer-icon__line {
  background-color: var(--primary-color);
}

.hambuguer-icon__line:nth-child(1) {
  transform: translateY(-0.8rem);
}

.hambuguer-icon__line:nth-child(3) {
  transform: translateY(0.8rem);
}

.icon—pressed .hambuguer-icon__line:nth-child(1) {
  transform: rotate(45deg);
}

.icon—pressed .hambuguer-icon__line:nth-child(2) {
  background: transparent;
}

.icon—pressed .hambuguer-icon__line:nth-child(3) {
  transform: rotate(-45deg);
}

.cart-icon {
  display: grid;
  place-content: center;
  place-items: center;
  margin: auto 0;
  border-radius: 22.5rem;
  background-color: var(--primary-background);
}

.cart-icon:hover .cart-icon__svg{
  fill: var(--primary-color);
}

.icon--medium {
  width: 3.5rem;
  height: 3.5rem;
}

.icon--large {
  width: 4.5rem;
  height: 4.5rem;
}

.icon-svg--large {
  height: 3rem;
}





/*------------------------------------*\
  #LOGIN - SIGNUP - RECOVERY PASSWORD - MY ACCOUNT
\*------------------------------------*/

.user-section {
  position: absolute;
  top: 0;
  display: grid;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100vh;
  min-height: 60rem;
  background-color: var(--secondary-background);
}

.form {
  display: grid;
  place-items: center;
  width: 40rem;
}

.form__info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 30rem;
}

.form__input {
  border: transparent;
  border-bottom: 0.1rem solid var(--border);
  color: var(--primary-text);
  background-color: inherit;
  outline: transparent;
  transition: border-bottom 0.5s;
  z-index: 2;
}

.form__label {
  position: absolute;
  font-weight: 600;
  cursor: text;
  transition: transform 0.5s, color 0.3s;
}

.form__input:focus, 
.form__input:not(:placeholder-shown) {
  border-bottom: 0.15rem solid var(--primary-color);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-2.4rem) scale(.95);
  transform-origin: left top;
  color: var(--tertiary-color);
  font-weight: 500;
  letter-spacing: 0.05rem;
} 

.primary-button {
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  width: 15rem;
  height: 4rem;
  font-weight: bold;
  color: var(--secondary-background);
  background-color: var(--primary-color);
}

.primary-button:hover {
  background-color: var(--tertiary-color);
  letter-spacing: 0.05rem;
}

.secondary-button {
  margin-top: 2rem;
  border-radius: 0.8rem;
  border: 0.15rem solid var(--tertiary-color);
  width: 15rem;
  height: 4rem;
  font-weight: bold;
  color: var(--tertiary-color);
}

.secondary-button:hover {
  background-color: var(--secondary-color);
  letter-spacing: 0.05rem;
}

.email-icon {
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  border-radius: 50%;
  width: 13.2rem;
  height: 13.2rem;
  background-color: var(--secondary-color);
}





/*------------------------------------*\
  #MENUS
\*------------------------------------*/

.desktop-menu {
  position: absolute;
  top: -13.5rem;
  right: 1.2rem;
  border: 0.2rem solid var(--primary-background);
  border-top: transparent;
  border-radius: 0 0 1.6rem 1.6rem;
  padding: 2rem 0;
  width: 20rem;
  background-color: var(--tertiary--backgorund);
  transition: transform 1s ease-in-out;
  z-index: 8;
}

.desktop-menu--open {
  transform: translateY(20rem);
}

.desktop-menu--close {
  transform: translateY(-20rem);
}

.desktop-menu__items {
  display: grid;
  place-items: center;
}

.mobile-menu {
  position: absolute;
  border: 0.2rem solid var(--primary-background);
  background-color: var(--tertiary--backgorund);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 8;
}

.mobile-menu--small {
  bottom: 0;
  border-radius: 1.6rem 1.6rem 0 0;
  padding: 2rem 1.2rem;
  padding-bottom: 6rem;
  width: 100vw;
}

.mobile-menu--small p, 
.mobile-menu--small a {
  font-size: var(--xlg);
}

.mobile-menu--medium {
  top: 3.75rem;
  border-radius: 0 0 1.6rem 1.6rem;
  padding: 2rem 1.2rem;
}

.mobile-menu--open {
  opacity: 1;
}

.mobile-menu--close {
  opacity: 0;
}





/*------------------------------------*\
  #PRODUCT LIST
\*------------------------------------*/

.cards-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 25vw));
  place-content: center;
  width: 100%;
  padding: 2rem 1.2rem;
  gap: 2.6rem;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-images:hover .card-icon {
  opacity: 1;
}

.card-img {
  grid-area: image;
  border-radius: 1.6rem;
  min-width: 22rem;
  min-height: 22rem;
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  cursor: pointer;
}

.card-icon {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  grid-area: cart;
  display: grid;
  place-items: center;
  border-radius: 2rem;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.85);
  opacity: 0;
  cursor: pointer;
}

.card-icon:hover .card-icon__svg {
  fill: var(--primary-color)
}

.card-price {
  grid-area: price;
  font-size: var(--lg);
  font-weight: bold;
  color: var(--tertiary-color);
}

.card-name {
  grid-area: name;
}





/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/

@media (max-width: 460px) {
  .card-icon {
    opacity: 1;
  }
}