/*------------------------------------*\
  #RESET
\*------------------------------------*/

/* Custom Properties */
:root {
  --sm: 0.875em; /*14px*/
  --md: 1em; /*16px*/
  --lg: 1.125em; /*18px*/
  --xlg: 1.5em; /*24px*/

  --primary-color: #187D33;
  --secondary-color: #94C56C;
  --tertiary-color: #165643;
  --border: #AFAFAF;
  --primary-text: #474747;
  --secondary-text: #6B6B6B;
  --primary-background: #E8EFEE;
  --secondary-background: #FFFFFF;
  --tertiary--backgorund: #FAFAFA;

  --primary-font: 'Quicksand', sans-serif;
}

/* Reset de margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitar problemas con imágenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

/* Reseteamos los enlaces para que funcionen como cajas */
/* a {
  display: block;
} */

/* Quitamos puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Cursor pointer en etiquetas a y button*/
a, button {
  cursor: pointer;
}

/* Evitando problemas por defecto de las principales etiquetas de texto */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* Configurar el texto que seleccionamos */
::selection {
  background-color: var(--primary-text);
  color: var(--secondary-background);
}

/* Nivelamos problemas de tipografías y formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

/* Reset de las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  display: block;
}

/* Configuramos la tipografía para toda la web */
body {
  position: relative;
  min-height: 100vh;
  font-family: var(--primary-font);
  font-size: 100%;
  color: var(--secondary-text);
}





/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
}

.navbar__brand {
  display: flex;
  justify-content: center;
  border-bottom: 0.125em solid var(--border);
  padding: 0.5em 0;
  padding-left: 1em;
  padding-right: 2em;
  height: auto;
  background-color: var(--primary-background);
  z-index: 1;
}

.logo--size {
  height: 2.5em;
}

.menu {
  display: flex;
  padding-left: 1em;
  padding-right: 2em;
  width: 100vw;
}

/* .menu--mobile {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-size: var(--xlg);
  background-color: var(--tertiary--backgorund);
}

.menu--tablet {
  flex-direction: column;
  border: 0.125em solid var(--primary-background);
  border-top: transparent;
  border-radius: 0 0 1em 1em;
  background-color: var(--tertiary--backgorund);
}

.menu--desktop {
  padding-right: 2em;
  height: 1.875em;
  background-color: var(--primary-background);
} */

.categories {
  display: flex;
  justify-content: flex-start;
  margin: auto 0;
  width: 65vw;
}

.user-nav {
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
  width: 35vw;
}





/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/

@media (max-width: 460px) {
  .logo--size {
    height: 3.125em;
  }

  .menu {
    position: fixed;
    display: grid;
    place-content: center;
    place-self: center;
    height: 100vh;
    font-size: var(--xlg);
    background-color: var(--tertiary--backgorund);
  }
  .categories, .user-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .categories li, .user-nav li {
    padding: 1em 0;
  }
}

@media (min-width: 460px) and (max-width: 760px) {
  .menu {
    flex-direction: column;
    border: 0.125em solid var(--primary-background);
    border-top: transparent;
    border-radius: 0 0 1em 1em;
    padding-right: 1em;
    width: 15em;
    background-color: var(--tertiary--backgorund);
  }
  .categories, .user-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 760px) {
  .menu {
    height: 1.875em;
    background-color: var(--primary-background);
  }
}
